body{
    background-color: aqua;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

.header-nav {
    background-color: aliceblue;
    background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.8)),url(images/img_header.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100%;
    padding-top: 0.9%;
    padding-bottom: 0.9%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    box-shadow: 0px 0px 15px;
}

.headre-nav-anchor {
    color: aliceblue;
    font-family: sans-serif;
    font-size: 1.5rem;
}
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.service-container-title {
    width: 100%;
    text-align: center;
}

.service-container {
    background-color: orangered;
    margin-top: 2px;
    width: 28%;
    height: 500px;
    min-width: 252px;
    text-align: center;
    box-shadow: 0px 0px 15px;
}

.service-container-img {
    background-color: aliceblue;
    height: 50%;
    width: 70%;
    margin-top: 7%;
    padding: 1%;
    border-radius: 20%;
    box-shadow: 1px 2px 20px 1px;
    border: 1px double;
}

.service-description {
    background-color: aliceblue;
    margin: 2%;
    border-radius: 5%;
    padding: 2.5%;
    font-family: sans-serif;
    font-size: 1.1rem;
    border: 1px dotted;
    box-shadow: 1px 1px 20px;
    overflow: auto;
}

#news{
    margin-left: 10px;
    margin-right: 10px;
}

.cards{
    width: 100%; 
    height: 90%;
    background-color: orangered;
    box-shadow: 0px 0px 15px;
}


.imgCard{
    margin-top: auto;
    margin-bottom: auto;
}

.imgNews{
    width: 100%;
    box-shadow: 1px 2px 20px 1px;
    border-radius: 10px;
}

.textoCard{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 20px;
    font-family: sans-serif;
    font-size: 1.1rem;
}

.botonNews{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: right;
}

.botonNews:hover{
    border-radius: 30px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%; 
    text-align: center; 
    margin-bottom: 1%;
}

.member-container-title {
    width: 100%;
}

.member-container {
    background-color: orangered;
    margin-top: 2px;
    margin-bottom: 2%;
    width: 22%;
    height: 600px;
    min-width: 250px;
    text-align: center; 
    box-shadow: 0px 0px 15px;
}

.member-img {
    height: 40%;
    width: 85%;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 20%;
    box-shadow: 1px 2px 20px 1px;
}

.member-description {
    background-color: aliceblue;
    margin: 3%;
    border-radius: 5%;
    padding: 2.5%;
    font-family: sans-serif;
    font-size: 1.1rem;
    border: 1px dotted;
    box-shadow: 1px 1px 20px;
    overflow: auto;
}

.nav-link {
    width: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
}

#pie1{
    background-color: rgb(171, 208, 230);
    margin-top: 10px;
    padding: 0px;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    font-family:inherit;
    color: black;
    text-align:justify;
}

.team-contacts {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-between;
    padding-bottom: 5%;
}
#img{
    width: 16px;
    height: 16px;
    background-color: rgb(171, 208, 230);
}
#img2{
    align-content: center;
    width: 3cm;
    height: 3cm;
}

.col1{
    max-width: 400px;
    margin-top: 0px ;
}
.col2{
    width: 30vh;
    margin-top: 20px;
    display:inline-block;
}
h3{
    font-size: 25px;
}
.footer_2{
    text-align:center;
}